@model DSSProject.Models.LoginModel

@{
    ViewBag.Title = "ورود";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">
<h2>از حساب کاربری خود برای ورود اسفاده نمایید.</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>فرم ورود</legend>
        <ul>
            <li>
                @Html.Label("نام کاربری")
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.Label("کلمه عبور")
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.Label("مرا به خاطر بسپار", new { @class = "checkbox" })
                @Html.CheckBoxFor(m => m.RememberMe)
                
            </li>
        </ul>
        <input type="submit" value="ورود" />
    </fieldset>
    @*<p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>*@
}
</section>

@*<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
